@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.container {
  overflow: hidden;
}

.container,
.relative-svg-container {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar-fixed {
  @apply fixed z-[99999] bg-slate-300 lg:bg-gray-900 bg-opacity-70 backdrop-blur-sm;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.cursor {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

a.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  cursor: pointer;
}

/* Responsive button styling */
@media (max-width: 640px) {
  a.button {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }
}

/* Ensure SVG visibility and proper scaling */
.relative-svg-container {
  position: relative;
}

.relative-svg-container img {
  display: block;
  margin: 0 auto;
  position: relative; /* Ensure the image is above the SVG */
  z-index: 99; /* Higher z-index to be on top */
}

.relative-svg-container svg {
  position: absolute;
  bottom: 0; /* Menempatkan SVG di bagian bawah container */
  left: 50%; /* Menempatkan SVG di tengah horizontal */
  transform: translateX(-50%); /* Menggeser SVG ke kiri sejauh setengah lebar container */
  z-index: -1; /* Memastikan SVG berada di belakang teks */
}

.line-break::after {
  content: "";
  display: block;
}
